.footer{
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    background: $VeryDarkBlue;
    color: white;
    display: grid;

    @include breakpoint-up(){
        grid-template-columns: repeat(3,1fr) 2fr;
        grid-template-rows: repeat(2,1fr);
        grid-template-areas: 
            "a c d e"
            "b c d f"
        ;
    }

    @include breakpoint-down(){
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 
            "a a"
            "b c"
            "d d"
            "e e"
            "f f"
        ;
    }
}

.social__links{
    grid-area: b;
    align-self: end;

    @include breakpoint-down(){
        grid-area: d;
        margin-bottom: 3.375rem;
        justify-content: space-around;
    }
    
    >a{
        &:not(:last-child){
            margin-right: 0.6875rem;
        }

        >img{
            @include breakpoint-down(){
                width: 33px;
            }
        }
    }
}


.col2,.col3{
    >a{
        display: block;
        color: white;
        text-decoration: none;

        &:not(:last-child){
            margin-bottom: 1.375rem;
        }
    }
}

.col2{
    grid-area: c;
    @include breakpoint-down(){
        grid-area: b;
        margin-bottom: 3.5rem;
    }
}

.col3{
    grid-area: d;
    @include breakpoint-down(){
        grid-area: c;
    }
}


.col4{
    grid-area: e;
    text-align: right;

    @include breakpoint-down(){
        grid-area: a;
        margin: 0 auto;
        margin-bottom: 3.5rem;
    }

    >input{
        border-radius: 50px;
        border: none;
        font-family: inherit;
        padding: 1.0625rem 1.875rem;
        margin-right: .5rem;
        &::placeholder{
            color: $DarkGrayishBlue;
        }
    }
}

.go_btn{
    background-color: $brightRed;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 1.0625rem 1.875rem;
    font-weight: 500;
    transition: opacity 300ms ease-in-out;
    cursor: pointer;

    &:hover{
        opacity: 0.75;
    }
}

.logo__footer{
    grid-area: a;

    @include breakpoint-down(){
        grid-area: e;
        margin: 0 auto;
        margin-bottom: 3.5rem;
    }
}

.copyright{
    align-self: end;
    text-align: right;
    grid-area: f;
    color: $DarkGrayishBlue;
    @include breakpoint-down(){
        margin: 0 auto;
    }
}