html{
    font-size: 100%;
    font-size: 16px;
    box-sizing: border-box;

    @include breakpoint-down(){
        font-size: 14px;
    }
}

*, *::after, *::before{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Be Vietnam', sans-serif;
    min-height: 100vh;
    position: relative;

    @include breakpoint-down(){
        text-align: center;
    }
}

a{
    display: inline-block;
}


h1, h2, p, small, ul{
    margin: 0;
    padding: 0;
}

h1{
    font-size: 3.3125rem;
    color: $darkBlue;
    line-height: 1.3;
    font-weight: 900;
    margin-bottom: 2.25rem;

    @include breakpoint-down(){
        font-size: 2.375rem;
    }
}

h2{
    font-size: 2.375rem;
    color: $darkBlue;
    line-height: 1.1;
    margin-bottom: 2rem;

    @include breakpoint-down(){
        font-size: 1.8125rem;
    }
}

h3{
    font-size: 1rem;
    color: $darkBlue;
    margin-bottom: 1.625rem;   
}

p{
    color: $DarkGrayishBlue;
}

.flex{
    display: flex;

    &--jc{
        justify-content: center;
    }

    &--jcfs{
        justify-content: flex-start;
    }

    &--jcfe{
        justify-content: flex-end;
    }

    &--jsb{
        justify-content: space-between;
    }

    &--ai{
        align-items: center;
    }

    &--as{
        align-items: flex-start;
    }
}

.container{
    padding-right: 10rem;
    padding-left: 10rem;
    

    @include breakpoint-down(){
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
}


.align-center{
    text-align: center;
}

.white-bg{
    background: white !important;
    color: $brightRed !important;
}

.overlay{
    height: 100vh;
    background: linear-gradient(to top, $VeryDarkBlue, transparent);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
}

.noscroll{
    overflow: hidden;
}

.clickable{
    pointer-events: all !important;
}


//Visibility
.hide-for-mobile{
    @include breakpoint-down{
        display: none;
    }
}

.hide-for-desktop{
    @include breakpoint-up{
        display: none;
    }
}
