.orange{
    background: $brightRed;
    padding-top: 4.375rem;
    padding-bottom: 4.375rem;

    >.container{
        @include breakpoint-down(){
            display: block;
        }
    }
    
}

.whiteh2{
    color: white;
    margin: 0;

    @include breakpoint-down(){
        margin: 0 auto;
        margin-bottom: 1.625rem;
        width: 13ch;
        font-size: 2.375rem;
    }
    
    @include breakpoint-up(){
        width: 23ch;
    }
}